.exppage {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 39, 52);
  padding-bottom: 6rem;
}
.projectcircle1 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0 0 150px 0;
  border-right: 1px solid rgb(184, 176, 200);
  top: 0;

  left: 0;
  transition: 0.5s;
}
.projectcircle2 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 0 0 300px 0;
  border-right: 1px solid rgb(184, 176, 200);
  top: 0;
  left: 0;
  transition: 0.5s;
}
.projectcircle3 {
  position: absolute;
  height: 225px;
  width: 225px;
  border-radius: 0 0 225px 0;
  border-right: 1px solid rgb(184, 176, 200);
  top: 0;
  left: 0;
  transition: 0.5s;
}
.projectcircle4 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 150px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.projectcircle5 {
  position: absolute;
  height: 225px;
  width: 225px;
  border-radius: 225px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.projectcircle6 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 300px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.explist {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 20px;
  flex-wrap: wrap;
  position: relative;
}
.timelinediv {
  position: absolute;
  top: -45px;
  left: 15%;
  width: 70%;
}
.timeline {
  width: 100%;
  border-bottom: 2px solid #d1d1d1;
}
.timelinetext {
  color: #d1d1d1;
  width: 100%;
  text-align: end;
}
.expcard {
  width: 20rem;
  height: 32rem;
  /* border: 5px solid #d1d1d1; */
  background-color: rgb(42, 45, 58);
  padding: 1rem;
  color: #d1d1d1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 500;
  position: relative;
}
.expdot {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #d1d1d1;
}
.exptitle {
  font-size: 1.5rem;
  padding-bottom: 5px;
  text-align: center;
  z-index: 100;
}
.expimage {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  z-index: 100;
}
.exppos {
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  height: 70px;
  border-top: 1px solid #d1d1d1;
  z-index: 100;
}
.expsub {
  font-size: 1.2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #d1d1d1;
  text-align: center;
  width: 100%;
}
.expdesc {
  padding-top: 10px;
  text-align: justify;
  font-size: 0.8rem;
}

@media (min-width: 480px) and (max-width: 800px) {
}
@media (max-width: 800px) {
  .exppage {
    justify-content: center;
    align-items: center;
  }
  .explist {
    flex-direction: column;
    width: fit-content;
  }
  .expcard {
    width: 15rem;
    /* height: 26rem; */
  }
  .exptitle {
    font-size: 1.2rem;
  }
  .expimage {
    height: 160px;
    width: 160px;
    border-radius: 15px;
  }
  .exppos {
    font-size: 1rem;
    height: 20px;
  }
  .expsub {
    font-size: 0.9rem;
  }
  .expdesc {
    font-size: 0.8rem;
  }
  .expdot {
    left: -30px;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
  }
  .timelinediv {
    top: 5%;
    left: -15px;
    width: 0;
    height: 90%;
  }
  .timeline {
    width: 0;
    height: 100%;
    border-right: 2px solid #d1d1d1;
  }
  .timelinetext {
    color: #d1d1d1;
    width: 100%;
    text-align: end;
    transform: rotate(270deg);
  }
}
