.navbar {
  display: flex;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 40px;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 39, 52);
  z-index: 900;
}
.circlenav1 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 0 0 0 100px;
  border-left: 1px solid rgb(209, 209, 209);
  top: 0;
  right: 0;
  z-index: 1000;
}
.circlenav2 {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 0 0 0 100px;
  border-left: 1px solid rgb(209, 209, 209);
  top: 0;
  right: 0;
  z-index: 1000;
}
.portfoliotitle {
  font-size: 30px;
  font-weight: 700;
  padding: 5px 10px;
  color: rgb(184, 176, 200);
}
.navbarbuttondiv {
  height: 40px;
  width: 100px;
  position: relative;
  z-index: 10002;
}
.navbarbuttonback {
  opacity: 0.3;
  height: 1px;
  width: 2px;
  top: 50%;
  left: 40%;
  position: absolute;
  transform: scale(40);
  transition: 0.5s;
}
.navbarbuttonbackhidden {
  height: 1px;
  width: 2px;
  top: 50%;
  left: 40%;
  position: absolute;
  transition: 0.5s;
}
.navbarbutton {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  width: 100px;
  padding: 10px;
  padding-top: 5px;
  color: rgb(184, 176, 200);
}
.navbarbutton:active {
  background-color: transparent;
  border: 1px solid rgb(184, 176, 200);
  border-radius: 20px;
}
.navbarhamburg {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: rgb(184, 176, 200);
  background-color: rgba(36, 39, 52, 0.521);
  display: none;
  z-index: 10002;
}
.navbarhamburg:active {
  background: white;
}
.l1,
.l2,
.l3 {
  position: relative;
  border-bottom: 2px solid rgb(184, 176, 200);
  border-top: 2px solid rgb(184, 176, 200);
  width: 30px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 4px;
}
.l2 {
  animation: lineanim 2s linear infinite alternate;
}
@keyframes lineanim {
  from {
    transform: scaleX(100%);
    transform-origin: left;
  }
  to {
    transform: scaleX(40%);
    transform-origin: right;
  }
}
.navbar2 {
  display: none;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  width: 100%;
  height: 90%;
  left: 0;
  top: 90px;
  background-color: rgba(36, 39, 52, 0.904);
  transition: 0.7s;
  z-index: 1000;
}
.expextra {
  display: inline;
}
.navbar2hidden {
  right: -800px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 90%;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
  top: 90px;
  left: 100%;
  width: 100%;
  background-color: rgb(36, 39, 52);
  z-index: 80;
  transition: 2s;
}
.navbarline {
  display: none;
  width: 50%;
  margin: 20px 0px 20px 0;
  border-bottom: 1px solid rgb(184, 176, 200);
}
@media (max-width: 1200px) {
  .expextra {
    display: none;
  }
}
@media (max-width: 800px) {
  .navbarhamburg {
    display: block;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbarbuttondiv {
    display: none;
  }
  .navbar2,
  .navbarline {
    display: flex;
  }
  .navbarbutton {
    position: relative;
  }
}
