.pageface {
  display: flex;
  flex-direction: row;
  background-color: rgb(36, 39, 52);
  margin-top: 90px;
  position: relative;
  width: 100%;
}
.backanimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.neelimg {
  position: absolute;
  left: 30%;
  height: 90%;
  margin-top: 40px;
  bottom: 0;
  z-index: 50;
  transition: 0.5s;
}

.circle {
  position: absolute;
  height: 400px;
  width: 200px;
  border-radius: 200px 0 0 200px;
  border-left: 4px solid rgb(184, 176, 200);
  bottom: 50px;
  margin-top: 10px;
  margin-left: 30%;
  z-index: 45;
}
.circle2 {
  position: absolute;
  height: 430px;
  width: 215px;
  border-radius: 250px 0 0 250px;
  border-left: 1px solid rgb(209, 209, 209);
  bottom: 38px;
  margin-top: 10px;
  margin-left: 25%;
}
.circle9 {
  position: absolute;
  height: 370px;
  width: 185px;
  border-radius: 250px 0 0 250px;
  border-left: 1px solid rgb(209, 209, 209);
  bottom: 62px;
  margin-top: 10px;
  margin-left: 35%;
}
.circle8 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 0 0 150px 0;
  border-right: 1px solid rgb(209, 209, 209);
  top: 0;
  left: 0;
}
.leftface,
.rightface {
  flex: 50%;
  position: relative;
  height: 600px;
}

.rightfacecont {
  position: absolute;
  left: 0%;
  top: 20%;
  display: flex;
  width: 80%;
  flex-direction: column;
  row-gap: 20px;
  justify-content: start;
}
.myname {
  font-size: 70px;
  font-weight: 700;
  color: rgb(209, 209, 209);
}
.mydesc {
  font-size: 28px;
  font-weight: 500;
  color: rgb(184, 176, 200);
}
.Getresume {
  height: 80px;
  width: 170px;
  border-radius: 50px;
  font-size: 20px;
  background-color: transparent;
  color: rgb(184, 176, 200);
  border: 2px solid rgb(42, 45, 58);
  font-family: "Rubik", sans-serif;
  transition: all;
  z-index: 10;
}
.Getresume:hover {
  background-color: rgb(42, 45, 58);
}
.circle3 {
  position: absolute;
  height: 350px;
  width: 350px;
  border-radius: 350px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
}
.circle4 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 300px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
}
.circle7 {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 300px 0 0 0;
  border-left: 1px solid rgb(184, 176, 200);
  bottom: 0;
  right: 0;
}
.circle5 {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 0 0 150px 0;
  border-right: 1px solid rgb(209, 209, 209);
  top: 0;
  left: 0;
}
.circle6 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0 0 150px 0;
  border-right: 1px solid rgb(209, 209, 209);
  top: 0;
  left: 0;
}
.linkedin {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgb(209, 209, 209);
  color: white;
  background-color: rgb(36, 39, 52);
  position: absolute;
  transition: 0.3s;
  z-index: 60;
}
.instagra {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgb(209, 209, 209);
  color: white;
  background-color: rgb(36, 39, 52);
  position: absolute;
  transition: 0.3s;
  z-index: 60;
}
.leetcode {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgb(209, 209, 209);
  color: white;
  background-color: rgb(36, 39, 52);
  position: absolute;
  transition: 0.3s;
  z-index: 60;
}
.codeforces {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgb(209, 209, 209);
  color: white;
  background-color: rgb(36, 39, 52);
  position: absolute;
  transition: 0.3s;
  z-index: 60;
}
.github {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid #d1d1d1;
  color: white;
  background-color: rgb(36, 39, 52);
  position: absolute;
  transition: 0.3s;
  z-index: 60;
}
.leetcodeicon,
.codeforcesicon {
  height: 25px;
  width: 25px;
}
.githubicon {
  margin-top: 3px;
  height: 28px;
  width: 28px;
}
.lin,
.ins {
  font-size: 23px;
}
.linkedin:hover,
.instagra:hover,
.leetcode:hover,
.codeforces:hover,
.github:hover {
  transform: scale(1.2);
}
@media (max-width: 800px) {
  .pageface {
    flex-direction: column;
    height: 1000px;
  }
  .backanimation {
    height: 50%;
  }
  .circle {
    bottom: 30px;
    height: 350px;
    width: 175px;
    margin-left: 22%;
  }
  .circle2 {
    display: none;
  }
  .circle9 {
    display: none;
  }
  .neelimg {
    left: 20%;
  }
  .rightfacecont {
    top: 10%;
  }

  .leftface {
    border-bottom: 1px solid rgb(184, 176, 200);
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pageface {
    flex-direction: column;
    height: 1000px;
  }
  .backanimation {
    height: 50%;
  }
  .circle {
    bottom: 30px;
    height: 350px;
    width: 175px;
    margin-left: 15%;
  }
  .circle2 {
    display: none;
  }
  .circle9 {
    display: none;
  }
  .neelimg {
    left: 5%;
  }

  .leftface {
    border-bottom: 1px solid rgb(184, 176, 200);
  }
}
@media (max-width: 1220px) {
  .rightfacecont {
    left: 20%;
    width: 70%;
    transform: scale(0.7);
    top: 10%;
  }
}

@media (max-width: 1700px) {
  .linkedin {
    left: 34%;
    bottom: 61%;
  }
  .instagra {
    left: 42%;
    bottom: 68%;
  }
  .leetcode {
    left: 29%;
    bottom: 50%;
  }
  .codeforces {
    left: 28%;
    bottom: 39%;
  }
  .github {
    left: 29%;
    bottom: 28%;
  }
}
@media (min-width: 1700px) {
  .linkedin {
    left: 33%;
    bottom: 61%;
  }
  .instagra {
    left: 38%;
    bottom: 68%;
  }
  .leetcode {
    left: 29%;
    bottom: 50%;
  }
  .codeforces {
    left: 28%;
    bottom: 39%;
  }
  .github {
    left: 29%;
    bottom: 28%;
  }
}

@media (max-width: 1440px) {
  .linkedin {
    left: 36%;
    bottom: 62%;
  }
  .instagra {
    left: 44%;
    bottom: 69%;
  }
  .leetcode {
    left: 30%;
    bottom: 52%;
  }
  .codeforces {
    left: 27%;
    bottom: 40%;
  }
  .github {
    left: 29%;
    bottom: 28%;
  }
}

@media (max-width: 1024px) {
  .linkedin {
    left: 38%;
    bottom: 63%;
  }
  .instagra {
    left: 49%;
    bottom: 69%;
  }
  .leetcode {
    left: 30%;
    bottom: 53%;
  }
  .codeforces {
    left: 27%;
    bottom: 40%;
  }
  .github {
    left: 29%;
    bottom: 28%;
  }
}

@media (max-width: 800px) {
  .linkedin {
    left: 26%;
    bottom: 61%;
  }
  .instagra {
    left: 32%;
    bottom: 68%;
  }
  .leetcode {
    left: 21%;
    bottom: 52%;
  }
  .codeforces {
    left: 19%;
    bottom: 42%;
  }
  .github {
    left: 19%;
    bottom: 32%;
  }
}
@media (max-width: 500px) {
  .circle {
    display: none;
  }
  .linkedin {
    left: 5%;
    bottom: 80%;
  }
  .instagra {
    left: 5%;
    bottom: 70%;
  }
  .leetcode {
    left: 5%;
    bottom: 60%;
  }
  .codeforces {
    left: 5%;
    bottom: 50%;
  }
  .github {
    left: 5%;
    bottom: 40%;
  }
  .rightfacecont {
    top: 0%;
    left: 5%;
    width: 90%;
  }
}
