.modalhidden {
  position: absolute;
  bottom: 0;
  height: 0;
  width: 0;
  transform: scale(0.001);
  transition: 1s;
  z-index: 1000;
}
.blackscreen {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.701);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 950;
}
.projectmodal {
  position: fixed;
  top: 5%;
  left: 10%;
  box-shadow: 5px 5px 15px black, -5px -5px 15px black;
  border-radius: 50px;
  background-color: rgb(36, 39, 52);
  z-index: 1000;
  width: 80%;
  box-sizing: border-box;
  height: 90%;
  overflow: hidden;
  transition: 0.7s;
}
.modalcontent {
  position: relative;
  display: flex;
  column-gap: 5px;
  height: 100%;
}
.projectimage {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.projectright {
  flex: 73%;
}
.projectimagediv {
  max-height: 300px;
  height: auto;
  overflow: auto;
}
.projectleft {
  flex: 23%;
  overflow: auto;
  display: flex;
  justify-content: center;
}
.projectimagephone {
  border-radius: 30px;
  width: auto;
  height: 99%;
  object-fit: cover;
}
.descriptionmodal {
  font-size: 15px;
  color: rgb(184, 176, 200);
  margin-top: 10px;
  max-width: 60%;
}
.modaldesc {
  position: absolute;
  right: 25px;
  top: 30%;
  background-color: rgb(42, 45, 58);
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: fit-content;
  font-size: 22px;
  color: rgb(184, 176, 200);
  text-align: center;
}
.openproject,
.opencode {
  position: absolute;
  bottom: 10px;
  height: 50px;
  width: 100px;
  border: 2px solid rgb(42, 45, 58);
  color: rgb(42, 45, 58);
  background-color: rgb(184, 176, 200);
  font-family: 'Rubik', sans-serif;
  border-radius: 25px;
  transition: 0.5s;
}
.openproject:hover,
.opencode:hover {
  background-color: rgb(42, 45, 58);

  color: rgb(184, 176, 200);
}
.closemodal {
  position: fixed;
  z-index: 1005;
  top: 20px;
  right: 70px;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(42, 45, 58);
  color: rgb(42, 45, 58);
  background-color: rgb(184, 176, 200);
  font-family: 'Rubik', sans-serif;
  border-radius: 25px;
  transition: 0.5s;
  font-size: large;
}
.closemodal:hover {
  background-color: rgb(42, 45, 58);
  color: rgb(184, 176, 200);
}
.openproject {
  right: 200px;
}
.opencode {
  right: 600px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 176, 200);
}
@media (max-width: 800px) {
  .projectleft {
    flex: 44%;
  }
  .projectright {
    /* display: none; */
    flex: 50%;
  }
  .modalcontent {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .projectimagephone {
    height: 100%;
  }
  .projectimage {
    height: 100%;
  }
  .descriptionmodal {
    display: none;
  }
  .modaldesc {
    top: 10px;
    right: 10px;
    font-size: 12px;
    padding: 30px 10px;
  }
  .openproject {
    right: 20px;
  }
  .closemodal {
    right: 20px;
    z-index: 1005;
  }
  .opencode {
    right: 190px;
  }
  .openproject,
  .opencode {
    width: 80px;
  }
}
