.skillspage {
  height: fit-content;
  background-color: rgb(36, 39, 52);
  display: flex;
  position: relative;
  flex-direction: column;
}
.skillsbigcircle4 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0 150px 0 0;
  border-right: 1px solid rgb(184, 176, 200);
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
}
.skillsbigcircle5 {
  position: absolute;
  height: 225px;
  width: 225px;
  border-radius: 0 225px 0 0;
  border-right: 1px solid rgb(184, 176, 200);
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.skillsbigcircle6 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 0 300px 0 0;
  border-right: 1px solid rgb(184, 176, 200);
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
}
.aboutmesubtitle {
  font-size: 15px;
  color: rgb(184, 176, 200);
  margin: 10px;
  margin-top: -40px;
  margin-left: 15%;
}
.skillbigbox {
  display: flex;
  justify-content: space-evenly;
}
.skillbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 20px;
  padding: 50px 50px;
  /* justify-content: center; */
  align-items: center;
  width: 40%;
  height: fit-content;
  z-index: 1;
  padding-bottom: 60px;
}
.hiddensk {
  opacity: 0;
  transform: translateY(100%);
}
.eachskill {
  opacity: 1;
  transform: translateX(0);
  width: 80%;
  background-color: rgb(42, 45, 58);
  color: rgb(209, 209, 209);
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  transition: 0.5s;
}
/* .eachskill:nth-child(2) {
  transition-delay: 100ms;
}
.eachskill:nth-child(3) {
  transition-delay: 200ms;
}
.eachskill:nth-child(4) {
  transition-delay: 300ms;
}
.eachskill:nth-child(5) {
  transition-delay: 400ms;
}
.eachskill:nth-child(6) {
  transition-delay: 500ms;
}
.eachskill:nth-child(7) {
  transition-delay: 600ms;
}
.eachskill:nth-child(8) {
  transition-delay: 700ms;
}
.eachskill:nth-child(9) {
  transition-delay: 800ms;
}
.eachskill:nth-child(10) {
  transition-delay: 900ms;
} */
/* .eachskill:hover {
  transform: scale(1.1);
} */
.skillname {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(36, 39, 52);
  text-align: center;
  justify-content: center;
}
.skillstat {
  width: 70%;
  background-color: rgb(36, 39, 52);
  height: 5px;
  border-radius: 5px;
}
.skillstatdata {
  height: 100%;
  width: 0%;
  font-size: 0px;
  background-color: rgb(184, 176, 200);
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  justify-content: end;
  overflow-y: visible;
}
.skillsdatashow {
  margin-top: 10px;
}
.html {
  width: 90%;
  font-size: 15px;
  /* transition: 0.5s; */
}
.css {
  width: 90%;
  font-size: 15px;
}
.js {
  width: 80%;
  font-size: 15px;
}
.angular {
  width: 30%;
  font-size: 15px;
}
.tsc {
  width: 70%;
  font-size: 15px;
}
.react {
  width: 75%;
  font-size: 15px;
}
.tw {
  width: 90%;
  font-size: 15px;
}
.dsa {
  width: 90%;
  font-size: 15px;
}
.django {
  width: 70%;
  font-size: 15px;
}
.sql {
  width: 70%;
  font-size: 15px;
}
.python {
  width: 70%;
  font-size: 15px;
}
.cpp {
  width: 85%;
  font-size: 15px;
}
.fb {
  width: 60%;
  font-size: 15px;
}
.redux {
  width: 90%;
  font-size: 15px;
}
.sass {
  width: 90%;
  font-size: 15px;
}
.git {
  width: 50%;
  font-size: 15px;
}
.solidity {
  width: 70%;
  font-size: 15px;
}
.hardhat {
  width: 60%;
  font-size: 15px;
}
@media (max-width: 800px) {
  .skillbigbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .skillbox {
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 75%;
  }
  .skillspage {
    height: fit-content;
  }
  .eachskill {
    width: 80%;
  }
}
