body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(42, 45, 58);

  /* overflow-y: hidden; */
}
* {
  /* box-sizing: border-box; */
}
/* body,
html {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: auto;
} */
button {
  cursor: pointer;
  padding: 0px;
}
p {
  margin: 0;
}
::-webkit-scrollbar {
  width: 4px; /* Remove scrollbar space */
  /* background: transparent; Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #000000;
}
.loader-box {
  background-color: rgb(42, 45, 58);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  /* border: solid; */
  /* animation: rotateloader 3s infinite linear  forwards ; */
  z-index: 1100;
}
@keyframes rotateloader {
  from {
    transform: rotate(0deg);
    perspective-origin: center;
    transform-origin: center;
  }
  to {
    transform: rotate(360deg);
    perspective-origin: center;
    transform-origin: center;
  }
}
